@model CineCentral.Models.Customer
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    <li>@Model.Name</li>
    @if (Model.Birthdate != null)
    {
        <li>@Model.Birthdate</li>
    }
</ul>
