@model IEnumerable<CineCentral.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
    <p> We dont have Movies in Stock Right Now </p>
}
else
{
    <h2>Movies</h2>
    <p>
        @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@Html.ActionLink(m.Name, "Edit", "Movies", new { id = m.Id }, null)</td>
                    <td> @m.Genre.Name </td>
                </tr>
            }
        </tbody>
    </table>
}