@model IEnumerable<CineCentral.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Movies</h2>
@if (!Model.Any())
{
    <p> we dont have movies </p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@Html.ActionLink(m.Name, "Details", "Movies", new { id = m.Id }, null)</td>
                    <td> @m.Genre.Name </td>
                </tr>
            }
        </tbody>
    </table>
}